
data/*
data_test/*
papers/*
others/*
results/*
tmp*
todo*
tests/*

src/.ipynb_checkpoints/*
src/githubs/*
src/skeleton_data/*
src/test_*

doc/FeiyuChen*.pdf

README2.md
run_bash.md
tmp*

*.png
*.jpg
*.pickle
*.pyc
*.avi
*.gif
*.pth
*.zip

**/core
**/.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/*